* {
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
}

body {
    background-image: linear-gradient(50deg, rgb(239, 212, 255), rgb(209, 216, 255));
}

.main {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.container {
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: auto;
    align-content: start;
}

.schoolName {
    min-width: 150px;
    background-color: aliceblue;
    text-align: center;
    margin: 5px;
    border-width: 1px;
    border-radius: 25px;
    padding: 25px;
    height: 100px;
}

.schoolName a {
    text-decoration: none;
}

.navbar {
    background-color: white;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar a {
    font-size: 18px;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
}

label {
    font-size: 12px;
    display: block;
}

input {
    margin: 10px;
    text-align: center;
    padding: 10px;
    width: 50%;
}

form {
    border-radius: 25px;
    margin-left: 5px;
    background-color: aliceblue;
    width: 50%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    padding: 25px;
}

textarea {
    width: 80%;
    resize: none;
}

button {
    margin: 5px;
    padding: 10px;
    background-color: rgb(196, 159, 255);
    border-radius: 25px;
}

.schoolPage {
    padding: 20px;
    width: 70%;
    text-align: center;
    border-radius: 25px;
    background-color: aliceblue;
} 

.schoolPage a {
    text-decoration: none;
}

a {
    color: purple;
}